/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=DM+Serif+Display&display=swap"); */
:root {
  font-size: 22px;
  /* define initial light theme and dark theme */
  --theme-dk-fg: rgb(247, 247, 248);
  --theme-dk-bg: rgb(28, 33, 33);
  --theme-dk-bg-alt: rgb(51, 61, 61);
  --theme-dk-bg-alt-border: rgb(98, 115, 115);
  --theme-dk-accent-a: rgb(45, 229, 235);
  --theme-dk-accent-b: rgb(235, 45, 232);
  --theme-dk-accent-a-soft: hsl(182, 100%, 23%);
  --theme-dk-accent-b-soft: rgb(141, 28, 139);
  --theme-dk-accent-strong: rgb(255, 107, 253);

  --theme-lt-fg: rgb(15, 16, 16);
  --theme-lt-bg: rgb(244, 246, 247);
  --theme-lt-bg-alt: rgb(209, 221, 228);
  --theme-lt-bg-alt-border: rgb(114, 122, 126);
  --theme-lt-accent-b: rgb(0, 137, 206);
  --theme-lt-accent-a: rgb(224, 0, 191);
  --theme-lt-accent-b-soft: rgb(170, 222, 249);
  --theme-lt-accent-a-soft: rgb(249, 170, 237);
  --theme-lt-accent-strong: rgb(0, 80, 121);
  /* default to light theme */
  --color-bg: var(--theme-lt-bg);
  --color-bg-alt: var(--theme-lt-bg-alt);
  --color-fg: var(--theme-lt-fg);
  --color-accent-a: var(--theme-lt-accent-a);
  --color-accent-b: var(--theme-lt-accent-b);
  --color-accent-a-soft: var(--theme-lt-accent-a-soft);
  --color-accent-b-soft: var(--theme-lt-accent-b-soft);
  --color-accent-strong: var(--theme-lt-accent-strong);
  --color-bg-alt-border: var(--theme-lt-bg-alt-border);
  --font-main: "DM Sans", sans-serif;
  --font-headline: "DM Serif Display", serif;
  --page-border-width: 1rem;
  --standard-gradient: -webkit-linear-gradient(
    left,
    var(--color-accent-a),
    var(--color-accent-b)
  );
  --standard-gradient-soft: -webkit-linear-gradient(
    left,
    var(--color-accent-a-soft),
    var(--color-accent-b-soft)
  );
  transition: all 0.2s;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* use dark mode colors */
    --browser-color-mode: "dark";
    --color-bg: var(--theme-dk-bg);
    --color-bg-alt: var(--theme-dk-bg-alt);
    --color-bg-alt-border: var(--theme-dk-bg-alt-border);

    --color-fg: var(--theme-dk-fg);
    --color-accent-a: var(--theme-dk-accent-a);
    --color-accent-b: var(--theme-dk-accent-b);
    --color-accent-a-soft: var(--theme-dk-accent-a-soft);
    --color-accent-b-soft: var(--theme-dk-accent-b-soft);
    --color-accent-strong: var(--theme-dk-accent-strong);
  }
}
li {
  margin-bottom: 0.25em;
  line-height: 1.3;
  font-size: 1rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-main);
  /* transition: all 0.8s; */
}
.col2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.col {
  flex-basis: 300px;
  flex-grow: 1;
  background-color: var(--color-bg-alt);
  padding: 1rem;
  border-radius: 0.5rem;
}
h1,
.splash-headline {
  font-size: 3rem;
  font-size: 8vw;
  font-size: clamp(1.5rem, 9vw, 4rem);
  line-height: 1.1;
  font-weight: normal;
  font-family: var(--font-headline);
}
h1 span,
.splash-headline span {
  font-weight: normal;
  font-family: var(--font-headline);
}
h2 {
  font-weight: normal;
  font-size: 3rem;
  font-family: var(--font-headline);
}
p {
  line-height: 1.75;
}

p a {
  /* border: 1px solid var(--color-accent-strong); */
}
html {
  height: 100%;
  width: 100%;
}
span.highlight {
  position: relative;
  display: inline-block;
  z-index: 1;
  transition: all 0.1s;
}
span.highlight::after {
  z-index: -1;
  background: var(--standard-gradient-soft);

  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  bottom: 0;
  transition: all 0.3s;
}
span.highlight:hover::after {
  top: 40%;
  bottom: 10%;
  transition: all 0.3s;
}
.outer-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background: var(--standard-gradient);
}
main {
  background-color: var(--color-bg);
  width: 100%;

  overflow-x: hidden;
  padding: 1rem;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: stretch;
}
section {
  position: relative;
  max-width: 1024px;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  z-index: 10;
}
section.splash-section {
  display: flex;
  position: relative;
  min-height: 90vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 0rem;
}
.splash-content {
  /* align-self: center; */
  /* justify-self: center; */
  display: flex;
  flex-direction: column;
  gap: 2rem;

  justify-content: center;
  z-index: 10;
}
.rule-above::before {
  content: "";
  position: absolute;
  background: var(--standard-gradient);
  top: 0rem;
  height: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
}
.rule-above {
  padding-top: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h1,
h2,
h3,
p,
details,
li {
  color: var(--color-fg);
}
a,
a:visited {
  color: var(--color-accent-strong);
}

.splash-section h1,
.splash-section h2 {
  align-self: flex-start;
  max-width: 100%;
  hyphens: none;
  /* display: inline-block; */
}
ul.tech-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
  padding: 0;
}
.tech-list li {
  padding: 0.75em 1.25em;
  background-color: var(--color-bg);
  border-radius: 0.25em;
}
a.btn {
  text-decoration: none;
}
article.project {
  background-color: var(--color-bg-alt);
  border: 2px solid var(--color-bg-alt-border);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button,
a.btn {
  color: var(--color-fg);
  background: none;
  display: flex;
  gap: 0.5em;
  align-items: center;
  transition: all 0.2s;
  border-radius: 0.5rem;
  align-self: flex-end;
  position: relative;
  z-index: 0;
  cursor: pointer;
  box-sizing: content-box;
  border: 2px solid transparent;
  overflow: visible;
}

/* fancy button hover styling
 */
button:hover,
.btn:hover {
  transition: all 0.2s;
}
button::after,
.btn::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  left: 0;
  top: 0;
  border: 2px solid var(--color-fg);
  border-radius: 0.5rem;
  cursor: pointer;
  box-sizing: border-box;
}
button::before,
.btn::before {
  content: "";
  background: var(--standard-gradient);
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  border-radius: 0.5rem;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s;
  cursor: pointer;
}

button:hover::before,
.btn:hover::before {
  bottom: -10px;
  opacity: 0.75;
  transition: all 0.2s;
}
button,
button *,
a.btn,
.btn * {
  cursor: pointer;
}

i {
  margin-right: 0.5em;
}

.button-bar {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 0.75rem;
  /* width: 100%; */
}
.button-bar button,
.button-bar .btn,
#btn-toggle-animation,
#btn-toggle-scrollbar {
  padding: 0.5em 0.75em;
  font-size: 1rem;
}

#btn-toggle-scrollbar {
  display: inline-block;
  margin-left: 0.5rem;
}

.top-bar {
  /* position: absolute; */
  /* background-color: white; */
  /* left:var(--page-border-width); */
  /* right:var(--page-border-width); */
  align-self: stretch;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: var(--page-border-width);
  /* border-bottom: 1px solid var(--color-fg) */
}
.top-bar h1 {
  font-size: 1.25rem;
  margin-block-end: 0;
  margin-block-start: 0;
}
#btn-toggle-animation,
#btn-toggle-scrollbar {
  font-size: 0.75rem;
  position: relative;
}

/* media query - make type smaller on small screens */
@media screen and (max-width: 800px) {
  #btn-toggle-animation {
    position: relative;
    /* margin-bottom:1rem */
    top: 0;
    right: 0;
  }
  article.project {
    position: relative;
    left: -1rem;
    /* right: -1rem; */
    width: calc(100% + 2rem);
    border-radius: 0;
  }
  :root {
    font-size: 18px;
  }
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.75rem;
  }

  .outer-wrapper {
    padding: 0.75rem;
  }

  .tech-list li {
    padding: 0.25rem 0.5rem;
  }
}
/* positioning the splash screen animation, regardless of which renderer is used */
main > svg,
main > canvas {
  display: block;
  position: fixed;
  pointer-events: none;
  align-self: center;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-subhead {
  font-size: 1.66rem;
  max-width: 23em;
  line-height: 1.25;
  letter-spacing: 0.015em;
}
/* sketch section
<div class="sketch-list"></div>
{% for project in sketchData.filteredProjects %}
  <article class="sketch-card">
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>
    <div class="sketch-button-section">
<a href="{{project.html_url}}">GitHub</a>
    <a href="{{ project.homepage }}" target="_blank">View Sketch</a>
    </div>
  </article> */
.sketch-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.sketch-card {
  background-color: var(--color-bg-alt);
  border: 2px solid var(--color-bg-alt-border);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.sketch-button-section {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}
.sketch-card h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.sketch-card p {
  font-size: 0.75rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.sketch-button-section a {
  font-size: 0.75rem;
  padding: 0.375rem 0.5rem;
  background-color: var(--color-bg);
  border: 2px solid var(--color-accent-strong);
  color: var(--color-fg);
  text-decoration: none;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}
.sketch-button-section svg {
  margin-right: 0.5em;
}
.sketch-button-section a:hover,
.sketch-button-section a:focus {
  background-color: var(--color-accent-strong);
  color: var(--color-bg);
}

/* special class for accessibility text that screen readers should see but sighted users do not need */
.sr-hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
/* 
*[aria-hidden="true"] {

} */

@keyframes colorFade {
  from {
    outline-color: var(--color-accent-a);
  }
  to {
    outline-color: var(--color-accent-b);
  }
}
@keyframes spinny {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(-2deg);
  }
  95% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
main *:focus {
  outline: 4px solid var(--color-accent-a);

  animation: spinny 2s reverse ease;
}
@media (prefers-reduced-motion) {
  /* styles to apply if a user's device settings are set to reduced motion */
  main *:focus {
    outline: 4px solid var(--color-accent-a);
    animation: none;
  }
}
main[force-motion="enable"] *:focus {
  animation: spinny 2s reverse ease;
}
main[force-motion="disable"] *:focus {
  animation: none;
}

.svg-inline--fa {
  height: 1em;
}

.svg-grad-start {
  stop-color: var(--color-accent-a);
}
.svg-grad-end {
  stop-color: var(--color-accent-b);
}

.about-wrapper {
  display: flex;
  gap: 1rem;
}

.about-wrapper figcaption {
}
.about-sidebar {
}
.about-emoji {
  background-color: var(--color-bg-alt);
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;

  align-self: stretch;

  gap: 1rem;
  align-items: center;
  color: var(--color-fg);
  font-size: 1rem;
  color: var(--color-fg);
  font-style: italic;
}
.about-emoji a {
  display: inline-block;
}
.about-emoji svg {
  width: 150px;
}

body {
  padding: var(--page-border-width);
}

body::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.2s;
  z-index: 100;
  border-width: var(--page-border-width);
  border-style: solid;
  border-color: var(--color-accent-a);
  border-image: var(--standard-gradient) 1;
  pointer-events: none;
}

body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-bg);
  z-index: -100;
}

.hero-graphic {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100vh;
  /* z-index: -100; */
  /* background-color: yellow; */
  pointer-events: none;
}

/* table */
th,
td {
  padding: 0.5em;
  border: 1px solid var(--color-fg);
  text-align: center;
}

#audit-1 {
  color: var(--color-fg);
  background-color: var(--color-accent-a-soft);
}
#audit-2 {
  color: var(--color-fg);
  background-color: var(--color-accent-b-soft);
}
#audit-3 {
  color: var(--color-fg);
  background-color: var(--color-bg-alt);
}
#audit-4 {
  color: var(--color-fg);
  background-color: var(--color-bg);
}
#audit-5,
#audit-6,
#audit-7 {
  position: relative;
  color: var(--color-fg);
  background-color: var(--color-bg);
  padding: 1em;
}
#audit-5::after,
#audit-6::after,
#audit-7::after {
  content: "";
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  right: 0.5em;
  left: 0.5em;
}
#audit-5::after {
  border: 3px solid var(--color-bg-alt-border);
}
#audit-6::after {
  border: 3px solid var(--color-accent-a);
}
#audit-7::after {
  border: 3px solid var(--color-accent-b);
}

#audit-9 {
  color: var(--color-accent-strong);
  background-color: var(--color-bg-alt);
}
#audit-8 {
  color: var(--color-accent-strong);
  background-color: var(--color-bg);
}
#audit-10 {
  color: var(--color-fg);
  background-color: var(--color-accent-a-soft);
}

details {
  background-color: var(--color-bg-alt);
  border: 2px solid var(--color-bg-alt-border);
  border-radius: 0.25rem;
  /* padding: 1rem; */
}
details:focus,
summary:focus {
  animation: none;
}
summary {
  padding: 1rem;
  /* margin-bottom: 1rem; */
}
summary:hover,
summary:focus {
  background-color: var(--color-accent-b-soft);
  /* color: var(--color-bg); */
}
details table {
  margin: 1rem;
  border-collapse: collapse;
  /* border-radius: 0.25rem; */
}
#audit-table caption {
  margin-bottom: 1rem;
  line-height: 1.5;
}
#audit-table th {
  font-size: 0.75rem;
}

.a11y-webring-club {
  border: 2px solid var(--color-bg-alt-border);
  background-color: var(--color-bg-alt);
  align-self: flex-start;
  padding: 1rem;
  border-radius: 0.25rem;
}
.a11y-webring-club ul {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}
